<template>
  <div class="Home">

    <div class="camera" v-bind:style="{ width: camera.width, height: camera.height }">
      <video class="video" muted autoplay playsinline></video>
    </div>

    <canvas id="canvas1" width="720" height="1280" class="picture" aria-hidden="true"></canvas>
    <canvas id="canvas2" width="720" height="1280" class="picture" aria-hidden="true"></canvas>

    <div class="search" v-if="!this.url">
      <input class="searchInput" type="text" name="กรอกชื่อร้านที่ต้องการค้นหา" placeholder=" บอกร้านที่อยากหามาได้เลย" v-model="storeName">
      <button type="button" class="confirmInput" name="ค้นหา" @click="findStoreByName">
        ค้นหา
      </button>
    </div>

    <div class="preview" aria-label="ภาพที่ถ่าย" v-if="this.url">
      <div class="modalButton">
        <button class="delete" v-on:click="deletePic()">ยกเลิก</button>
        <button class="confirm" v-on:click="confirmPic()">ยืนยัน</button>
      </div>
      <img id="previewPicture" v-if="this.url" :src="this.url" alt="ภาพที่ถ่าย"/>
    </div>

    <button class="snap" name="ถ่ายรูป" aria-label="ปุ่มถ่ายรูป" v-on:click="takePicture()">
        <img class="capture" src="../assets/capture.svg">
    </button>

    <label class="gallery" for="upload"></label>
    <input class="upload" name="เลือกรูปภาพจากคลัง" aria-label="เลือกรูปภาพจากคลัง" id="upload" type="file" accept="image/*" @change="fileUpload( $event )">
  
    <div v-if="loadingScreen" id="loadingModal">
      <p style="margin-bottom: 250px;">ระบบกำลังค้นหา กรุณารอสักครู่</p>
      <div class="loader" aria-hidden="true" aria-label="ระบบกำลังค้นหา กรุณารอสักครู่"></div>
    </div>
  
    <div v-if="replied" id="alertModal">
      <div id="alert">
        <p style="word-break: break-word; padding: 0% 10px 0% 10px">ระบบได้ตอบกลับเรียบร้อยแล้ว</p>
        <button class="confirmInput" @click="close()" style="width: 100px" aria-label="กลับสู่ช่องแชท">ปิด</button>
      </div>
    </div>
    
    <div v-if="errorReplied" id="errorModal">
      <div id="error">
        <p style="word-break: break-word; padding: 0% 10px 0% 10px">เกิดข้อผิดพลาด โปรดลองใหม่อีกครั้ง</p>
        <button class="confirmInput" @click="close()" style="width: 100px" aria-label="กลับสู่ช่องแชท">ปิด</button>
      </div>
    </div>
    
    <div v-if="this.errorMsg" id="warningModal">
      <div id="warning">
        <p style="word-break: break-word; padding: 0% 10px 0% 10px">{{ this.errorMsg }}</p>
        <button class="confirmInput" @click="closeModal()" style="width: 100px" aria-label="กลับสู่ช่องแชท">ปิด</button>
      </div>
    </div>
  </div>
</template>

<script>
import liff from '@line/liff';

export default {
  name: 'Home',
  data () {
    return {
      camera: {
        width: "",
        height: ""
      },
      storeName: "",
      picture: "",
      upLoad: "",
      url: "",
      img: {
        width: "",
        height: "",
        image: ""
      },
      imageBase64: null,
      lineId: "",
      lineName: "",
      location: {
        latitude: "",
        longitude: ""
      },
      blob: [],
      errorMsg: "",
      option: "",
      mediaRecorder: "",
      base64: "",
    }
  },
  methods: {
    async init () {
      if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        const videoConstraints = {
          aspectRatio: 1.777777778,
          facingMode: {
            ideal: 'environment'
          }
        }
        const constraints = {
          video: videoConstraints,
          audio: false
        };
        await navigator.mediaDevices.getUserMedia(constraints).then(stream => {
          const videoPlayer = document.querySelector("video");
          videoPlayer.srcObject = stream;
          let {width, height} = stream.getTracks()[0].getSettings();
          this.camera.width = width;
          this.camera.height = height;
          console.log(`${width}x${height}`);
        });
      } else {
        alert("cannot get media devices : ", navigator.mediaDevices);
      }
    },
    runApp () {
      liff.getProfile().then(lineProfile => {
        this.lineId = lineProfile.userId;
        this.lineName = lineProfile.displayName;
      })
    },
    async takePicture () {
      this.picture = "doing";

      const video = document.querySelector("video");
      const canvas = document.getElementById("canvas1");
      canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
      console.log(canvas.width, canvas.height)
      this.url = canvas.toDataURL("image/png");

      let context = canvas.getContext('2d')
      context.clearRect(0, 0, canvas.width, canvas.height);
    },
    blobTobase64( file ) {
      return new Promise( resolve => {
        console.log(file.size)
        let reader = new FileReader()
        reader.readAsDataURL(file)
        let image = new Image();
        reader.onload = () => {
          this.url = reader.result
          image.src = reader.result
          // reduce file size
          setTimeout(() => {
            if (file.size > 800000) {

              let oldWidth = image.width
              let oldHeight = image.height
              let newWidth = 100
              let newHeight = 100
              if (oldWidth > oldHeight) {
                newWidth = Math.floor(oldWidth / 10)
                newHeight = Math.floor((oldHeight / oldWidth) * newWidth)
              }
              else {
                newHeight = Math.floor(oldHeight / 10)
                newWidth = Math.floor((oldWidth / oldHeight) * newHeight)

              }
              console.log(newWidth, newHeight)
              let canvas = document.getElementById('canvas2')
              canvas.width = newWidth
              canvas.height = newHeight
              let ctx = canvas.getContext('2d')
              ctx.drawImage(image, 0, 0, newWidth, newHeight);
              let uri = canvas.toDataURL("image/png", 0.7)
              resolve(uri)
            }
            else {
              resolve(reader.result)
            }
          }, 300)
        }
      })
    },
    async fileUpload( event ) {
      this.base64 = this.blobTobase64(event.target.files[0]);
      event.target.value = '';
    },
    deletePic() {
      this.url = "";
    },
    async confirmPic() {
      if (this.base64) {
        this.base64.then(b64 => {
          let payload = {
          id: this.lineId,
          url: b64,
          gps: {
            latitude: this.location.latitude, 
            longitude: this.location.longitude
          }
        }
        
        this.$store.dispatch('findStoreByPicture', {payload})
        })
      }
      else {
        let payload = {
          id: this.lineId,
          url: this.url,
          gps: {
            latitude: 13.74692, 
            longitude: 100.53958
          }
        }
        await this.$store.dispatch('findStoreByPicture', {payload})
      }
      this.url = "";
    },
    async findStoreByName() {
      let payload = {
        id: this.lineId,
        name: this.storeName,
        gps: {
          latitude: this.location.latitude, 
          longitude: this.location.longitude
        }
      }

      JSON.stringify(payload)
      await this.$store.dispatch('findStoreByName', {payload})
      this.storeName = ''
    },
    close() {
      liff.closeWindow();
    },
    getPosition(position) {
      this.location.latitude = position.coords.latitude;
      this.location.longitude = position.coords.longitude;
    },
    showError(error) {
      switch(error.code) {
        case error.PERMISSION_DENIED:
          this.errorMsg = "กรุณาเปิด GPS และเข้าใช้งานใหม่อีกครั้ง"
          break;
        case error.POSITION_UNAVAILABLE:
          this.errorMsg = "ไม่สามารถเข้าถึงตำแหน่งได้ กรุณาปิดและเปิด GPS ใหม่อีกครั้ง"
          break;
        case error.TIMEOUT:
          this.errorMsg = "กรุณาปิดและเปิดใช้งานแอพใหม่อีกครั้ง"
          break;
      }
    },
    closeModal() {
      this.errorMsg = ""
    }
  },
  computed: {
    loadingScreen() {
      return this.$store.getters.loadingStatus
    },
    replied() {
      return this.$store.getters.replied
    },
    errorReplied() {
      return this.$store.getters.errorReplied
    }
  },
  beforeMount () {
    this.init();
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(this.getPosition, this.showError);
    }
    else {
      this.errorMsg = "ไม่สามารถเข้าถึงตำแหน่งได้ กรุณาลองปิดและเปิด GPS ใหม่อีกครั้งและให้ในการสิทธิตำแหน่งของท่าน"
    }
  },
  async created () {
    // connect LIFF
    await liff.init({ 
      liffId: "1656567977-bEZ7Xpwd"
    })
    .then(() => {
      if(liff.isLoggedIn()) {
        this.runApp();
      } else {
        liff.login();
        this.runApp();
      }
    })
    .catch((err) => {
      console.log(err.code, err.message);
      liff.closeWindow();
    });
    
  }
}
</script>

<style>
.camera {
  display: flex;
  min-height: 100%;
  z-index: -1;
}

.video {
  display: flex;
  width:100vw;
  height: 100vh;
  background: #151515;
  z-index: -1;
}

.picture {
  position: absolute;
  top: 0%;
  width: 0vw;
  height: 0vh;
}

.search {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 3%;
  width: 100%;
  z-index: 10;
}

input[type=text].searchInput {
  height: 36px;
  width: 60%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  border-color: transparent;
  margin-right: 10px;
  margin-bottom: 0%;
  padding: 0% 6px 0% 6px;
}

input[type='text'] {
  font-size: 16px;
}

.confirmInput {
  height: 40px;
  width: 70px;
  cursor: pointer;

  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;

  background: #161a8b;
  box-shadow: 0px 4px 4px rgba(112, 112, 112, 0.1);
  border-radius: 6px;
}

.preview {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  left: 0%;
  top: 0%;
  height: 100vh;
  width: 100vw;
  background: #151515;
  z-index: 100;
}

#previewPicture {
  width: 100%;
}

.modalButton {
  width: 100vw;
  height: 15vh;
  display: flex;
  top: 0%;
  background: #151515;
  z-index: 1000;
}

.delete {
  color: #fdfdfd;
  background: rgb(255, 46, 46);
  border: none;
  border-radius: 6px;
  margin: 4vh 5% 5vh 10%;
  width: 100vw;
  height: 6vh;
  font-size: 22px;
}

.confirm {
  color: #fdfdfd;
  background: rgb(50, 175, 0);
  border: none;
  border-radius: 6px;
  margin: 4vh 10% 5vh 5%;
  width: 100vw;
  height: 6vh;
  font-size: 22px;
}

#videoPreview {
  max-width: 100vw;
  max-height: 100vh;
}

.snap {
  background-color: transparent;
  background-repeat: no-repeat;
  overflow: hidden;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 40%;
  z-index: 1;
}

.gallery {
  position: absolute;
  width: 55px;
  height: 55px;
  background-image: url(../assets/gallery.svg);
  background-repeat: no-repeat;
  right: 4%;
  bottom: 2%;
  z-index: 2;
}

.gallery:active {
  opacity: 0.2;
}

.upload {
  display: none;
}

#alertModal,
#warningModal,
#errorModal {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #1d1d1d;
  opacity: 0.9;
  z-index: 10;
}

#alert,
#warning,
#error {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 70vw;
  height: 180px;
  top: 30%;
  border-radius: 10px;
  opacity: 1;
  background: #ffffff;
}

#loadingModal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  overflow: auto;
  color:#ffffff;
  background: #1d1d1d;
  opacity: 0.9;
  z-index: 10;
}
</style>