<template>
  <div class="Home">

    <div class="camera" v-bind:style="{ width: camera.width, height: camera.height }">
      <video class="video" id="video" muted autoplay playsinline></video>
    </div>

    <canvas width="720" height="1280" class="picture" aria-hidden="true"></canvas>

    <div class="search" v-if="!this.url">
      <input class="searchInput" type="text" name="กรอกชื่อร้านที่ต้องการค้นหา" placeholder=" บอกร้านที่อยากหามาได้เลย" v-model="storeName">
      <button type="button" class="confirmInput" name="ค้นหา" @click="findStoreByName">
        ค้นหา
      </button>
    </div>

    <div class="preview" aria-label="ภาพที่ถ่าย" v-if="this.url">
      <div class="modalButton">
        <button class="delete" v-on:click="deletePic()">ยกเลิก</button>
        <button class="confirm" v-on:click="confirmPic()">ยืนยัน</button>
      </div>

      <video v-if="this.url" id="videoPreview" :src="this.url" muted autoplay loop playsinline></video>
    </div>

    <button class="snap" name="ถ่ายวิดีโอ" aria-label="ปุ่มถ่ายวิดีโอ" v-on:click="recordVideo()">
        <img v-if="this.recorder.state == 'ready'" id="capture" src="../assets/startRecord.svg" alt="เริ่มบันทึกวิดีโอ">
        <img v-if="this.recorder.state == 'recording'" id="capture" src="../assets/stopRecord.svg" alt="สิ้นสุดการบันทึก">
    </button>

    <label v-if="this.recorder.state == 'ready'" class="gallery" for="upload"></label>
    <input class="upload" name="เลือกรูปภาพจากคลัง" aria-label="เลือกรูปภาพจากคลัง" id="upload" type="file" accept="video/*" @change="fileUpload( $event )">

    <div v-if="loadingScreen" id="loadingModal">
      <p style="margin-bottom: 250px;">ระบบกำลังค้นหา กรุณารอสักครู่</p>
      <div class="loader" aria-hidden="true" aria-label="ระบบกำลังค้นหา กรุณารอสักครู่"></div>
    </div>
  
    <div v-if="replied" id="alertModal">
      <div id="alert">
        <p style="word-break: break-word; white-space: pre; padding: 0% 30px 0% 30px">ระบบได้ตอบกลับเรียบร้อยแล้ว</p>
        <button class="confirmInput" @click="close()" style="width: 100px" aria-label="กลับสู่ช่องแชท">ปิด</button>
      </div>
    </div>

    <div v-if="errorReplied" id="errorModal">
      <div id="error">
        <p style="word-break: break-word; white-space: pre; padding: 0% 30px 0% 30px">เกิดข้อผิดพลาด กรุณาลองใหม่อีกครั้ง</p>
        <button class="confirmInput" @click="close()" style="width: 100px" aria-label="กลับสู่ช่องแชท">ปิด</button>
      </div>
    </div>
    
    <div v-if="this.errorMsg" id="warningModal">
      <div id="warning">
        <p style="word-break: break-word; padding: 0% 30px 0% 30px">{{ this.errorMsg }}</p>
        <button class="confirmInput" @click="closeModal()" style="width: 100px" aria-label="กลับสู่ช่องแชท">ปิด</button>
      </div>
    </div>

  </div>
</template>

<script>
import liff from '@line/liff';

export default {
  name: 'Home',
  data () {
    return {
      camera: {
        width: "",
        height: ""
      },
      storeName: "",
      picture: "",
      upLoad: "",
      url: "",
      img: {
        width: "",
        height: "",
        image: ""
      },
      imageBase64: null,
      lineId: "",
      lineName: "",
      location: {
        latitude: "",
        longitude: ""
      },
      blob: [],
      recorder: {
        mediaRecoder: null,
        state: "ready"
      },
      errorMsg: "",
      option: "",
    }
  },
  methods: {
    async init () {
      if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        const videoConstraints = {
          aspectRatio: 1.777777778,
          facingMode: {
            ideal: 'environment'
          }
        }
        const constraints = {
          video: videoConstraints,
          audio: false
        };
        await navigator.mediaDevices.getUserMedia(constraints).then(stream => {
          const videoPlayer = document.querySelector("video#video");
          const options = [
            "video/mp4",
            "video/webm"
          ];
          this.option = options.filter(mimeType => {
            return MediaRecorder.isTypeSupported(mimeType);
          });
          videoPlayer.srcObject = stream;
          try {
            this.recorder.mediaRecoder = new MediaRecorder(stream, this.option);
          } catch (e) {
            console.error('Exception while creating MediaRecorder:', e);
            return;
          }
        });
      } else {
        alert("cannot get media devices : ", navigator.mediaDevices);
      }
    },
    runApp () {
      liff.getProfile().then(lineProfile => {
        this.lineId = lineProfile.userId;
        this.lineName = lineProfile.displayName;
      })
    },
    handleDataAvailable(event) {
      console.log('handleDataAvailable', event);
      if (event.data && event.data.size > 0) {
        this.blob.push(event.data);
      }
    },
    playPreview() {
      const superBuffer = new Blob(this.blob, {type: this.option});
      this.url = URL.createObjectURL(superBuffer);
    },
    recordVideo () {
      this.blob = []

      if (this.recorder.state == "ready") {
        this.recorder.state = "recording"

        this.recorder.mediaRecoder.onstop = (event) => {
          console.log('Recorder stopped: ', event);
          console.log('Recorded Blobs: ', this.blob);
        };

        this.recorder.mediaRecoder.ondataavailable = this.handleDataAvailable;
        this.recorder.mediaRecoder.start();
        console.log('this.recorder.mediaRecoder started', this.recorder.mediaRecoder);
      }
      else if (this.recorder.state == "recording") {
        this.recorder.state = "ready"
        this.recorder.mediaRecoder.stop();
        setTimeout(this.playPreview, 100)
      }
    },
    fileUpload( event ) {
      this.upLoad = event.target.files[0];
      this.url = URL.createObjectURL(this.upLoad);
      console.log(this.url, "\n", event.target.files[0]);
    },
    deletePic() {
      this.url = "";
    },
    async confirmPic() {
      let payload = {
        id: this.lineId,
        url: this.url,
        gps: {
          latitude: this.location.latitude, 
          longitude: this.location.longitude
        }
      }
      this.url = "";

      JSON.stringify(payload)
      console.log(payload)
      await this.$store.dispatch('findStoreByPicture', {payload})
    },
    async findStoreByName() {
      let payload = {
        id: this.lineId,
        name: this.storeName,
        gps: {
          latitude: this.location.latitude, 
          longitude: this.location.longitude
        }
      }

      JSON.stringify(payload)
      await this.$store.dispatch('findStoreByName', {payload})
      this.storeName = ''
    },
    close() {
      liff.closeWindow();
    },
    getPosition(position) {
      this.location.latitude = position.coords.latitude;
      this.location.longitude = position.coords.longitude;
    },
    showError(error) {
      switch(error.code) {
        case error.PERMISSION_DENIED:
          this.errorMsg = "กรุณาเปิด GPS และเข้าใช้งานใหม้อีกครั้ง"
          break;
        case error.POSITION_UNAVAILABLE:
          this.errorMsg = "ไม่สามารถเข้าถึงตำแหน่งได้ กรุณาปิดและเปิด GPS ใหม่อีกครั้ง"
          break;
        case error.TIMEOUT:
          this.errorMsg = "กรุณาปิดและเปิดใช้งานแอพใหม่อีกครั้ง"
          break;
      }
    },
    closeModal() {
      this.errorMsg = ""
    }
  },
  computed: {
    loadingScreen() {
      return this.$store.getters.loadingStatus
    },
    replied() {
      return this.$store.getters.replied
    },
    errorReplied() {
      return this.$store.getters.errorReplied
    }
  },
  beforeMount () {
    this.init();
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(this.getPosition, this.showError);
    }
    else {
      this.errorMsg = "ไม่สามารถเข้าถึงตำแหน่งได้ กรุณาลองปิดและเปิด GPS ใหม่อีกครั้งและให้ในการสิทธิตำแหน่งของท่าน"
    }
  },
  async created () {
    await liff.init({ 
      liffId: "1656567977-bEZ7Xpwd"
    })
    .then(() => {
      if(liff.isLoggedIn()) {
        this.runApp();
      } else {
        liff.login();
        this.runApp();
      }
    })
    .catch((err) => {
      console.log(err.code, err.message);
      liff.closeWindow();
    });
    
  }
}
</script>

<style>
.camera {
  display: flex;
  min-height: 100%;
  z-index: -1;
}

.video {
  display: flex;
  width:100vw;
  height: 100vh;
  background: #151515;
  z-index: -1;
}

.picture {
  position: absolute;
  top: 0%;
  width: 0vw;
  height: 0vh;
}

.search {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: baseline;
  top: 3%;
  width: 100%;
  z-index: 10;
}

input[type=text].searchInput {
  height: 36px;
  width: 60%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  border-color: transparent;
  margin-right: 10px;
  margin-bottom: 0%;
  padding: 0% 6px 0% 6px;
}

input[type='text'] {
  font-size: 16px;
}

.confirmInput {
  height: 40px;
  width: 70px;
  cursor: pointer;

  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;

  background: #161a8b;
  box-shadow: 0px 4px 4px rgba(112, 112, 112, 0.1);
  border-radius: 6px;
}

.preview {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  left: 0%;
  top: 0%;
  height: 100vh;
  width: 100vw;
  background: #151515;
  z-index: 100;
}

.modalButton {
  width: 100vw;
  height: 15vh;
  display: flex;
  top: 0%;
  background: #151515;
  z-index: 1000;
}

.delete {
  color: #fdfdfd;
  background: rgb(255, 46, 46);
  border: none;
  border-radius: 6px;
  margin: 4vh 5% 5vh 10%;
  width: 100vw;
  height: 6vh;
  font-size: 22px;
}

.confirm {
  color: #fdfdfd;
  background: rgb(50, 175, 0);
  border: none;
  border-radius: 6px;
  margin: 4vh 10% 5vh 5%;
  width: 100vw;
  height: 6vh;
  font-size: 22px;
}

#videoPreview {
  max-width: 100vw;
  max-height: 100vh;
}

.snap {
  background-color: transparent;
  background-repeat: no-repeat;
  overflow: hidden;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 40%;
  z-index: 1;
}

.gallery {
  position: absolute;
  width: 55px;
  height: 55px;
  background-image: url(../assets/gallery.svg);
  background-repeat: no-repeat;
  right: 4%;
  bottom: 2%;
  z-index: 2;
}

.gallery:active {
  opacity: 0.2;
}

.upload {
  display: none;
}

#alertModal,
#warningModal,
#errorModal {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #1d1d1d;
  opacity: 0.9;
  z-index: 10;
}

#alert,
#warning,
#error {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 70vw;
  height: 180px;
  top: 30%;
  border-radius: 10px;
  opacity: 1;
  background: #ffffff;
}

#loadingModal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  overflow: auto;
  color:#ffffff;
  background: #1d1d1d;
  opacity: 0.9;
  z-index: 10;
}
</style>