<template>
  <div class="Info">
    <img class="picStore" aria-label="ภาพหน้าร้านค้า" name="ภาพหน้าร้านค้า" :src="this.backgroundPicture" alt="ภาพหน้าร้าน">
    
    <div class="information">
        <div class="name">
            <p><b>{{ this.storeName }}</b></p>
        </div>

        <div class="category">
            <!-- อาจใช้ for วน ปริ๊น หรือ ต่อ str แล้ว ปริ๊นทีเดียว -->
            <!-- <p class="textCatagory" v-for="item in category" :key="item">
                {{ item }}
            </p> -->
            <p class="context">{{ this.category }}</p>
        </div>

        <div class="workingHour">
            <p class="head">
                <b>เวลาเปิดให้บริการ : </b> <br>
            </p>

            <div class="context" v-if="this.workingHour.everyday">
                <p>เปิดทุกวัน {{ this.workingHour.everyday }} </p>
            </div>
            
            <table class="context" v-if="this.workingHour.monday">
                <tbody>
                    <tr><td class="day">วันจันทร์ </td> <td>{{ this.workingHour.monday }} </td></tr>
                    <tr><td class="day">วันอังคาร </td> <td> {{ this.workingHour.tuesday }} </td></tr>
                    <tr><td class="day">วันพุธ </td> <td> {{ this.workingHour.wednesday }} </td></tr>
                    <tr><td class="day">วันพฤหัสบดี </td> <td> {{ this.workingHour.thursday }} </td></tr>
                    <tr><td class="day">วันศุกร์ </td> <td> {{ this.workingHour.friday }} </td></tr>
                    <tr><td class="day">วันเสาร์ </td> <td> {{ this.workingHour.saturday }} </td></tr>
                    <tr><td class="day">วันอาทิตย์ </td> <td> {{ this.workingHour.sunday }} </td></tr>
                </tbody>
            </table>
        </div>

        <div class="about" v-if="this.about">
              <p class="head">
                  <b>ข้อมูลเพิ่มเติม :</b>
              </p>

              <p class="context">
                  {{ this.about }}
              </p>
        </div>
    </div>

    <div class="iconCategoryMenu" id="menuCategory">
        <p class="head">หมวดหมู่</p> 
        <p class="subHead">* เลือกกดเพื่อไปสู่หมวดหมู่ที่ต้องการ หรือเลื่อนลงเพื่อดูทีละหมวดหมู่</p>
    
        <div class="subMenu">
            <div class="groupMenu">
                <button class="picCategory" type="button" aria-label="ปุ่มโปรโมชัน" v-if="this.menu.promotion[0]" @click="scroll(`menuPromotion`)">
                    <img src="../assets/promotion.png" alt="ปุ่มโปรโมชัน" width="80" height="80">
                    <label>โปรโมชัน</label>
                </button>

                <button class="picCategory" type="button" aria-label="ปุ่มเมนูแนะนำ" v-if="this.menu.recommendation[0]" @click="scroll(`menuRecommend`)">
                    <img src="../assets/recommend.png" alt="ปุ่มเมนูแนะนำ" width="80" height="80">
                    <label>เมนูแนะนำ</label>
                </button>

                <button class="picCategory" type="button" aria-label="ปุ่มอาหารพร้อมปรุง" v-if="this.menu.ready[0]" @click="scroll(`menuSuki`)">
                    <img src="../assets/sukiyaki.png" alt="ปุ่มสุกี้" width="80" height="80">
                    <label>อาหารพร้อมปรุง</label>
                </button>

                <button class="picCategory" type="button" aria-label="ปุ่มอาหารจานเดียว" v-if="this.menu.alacarte[0]" @click="scroll(`menuALaCarte`)">
                    <img src="../assets/dish.png" alt="ปุ่มอาหารจานเดียว" width="80" height="80">
                    <label>อาหารจานเดียว</label>
                </button>

                <button class="picCategory" type="button" aria-label="ปุ่มอาหารเซ็ต" v-if="this.menu.set[0]" @click="scroll(`menuSet`)">
                    <img src="../assets/bento.png" alt="ปุ่มอาหารเช็ต" width="80" height="80">
                    <label>อาหารเช็ต</label>
                </button>

                <button class="picCategory" type="button" aria-label="ปุ่มของทานเล่น" v-if="this.menu.snack[0]" @click="scroll(`menuSnack`)">
                    <img src="../assets/appetizer.png" alt="ปุ่มของทานเล่น" width="80" height="80">
                    <label>ของทานเล่น</label>
                </button>

                <button class="picCategory" type="button" aria-label="ปุ่มของหวาน" v-if="this.menu.dessert[0]" @click="scroll(`menuDessert`)">
                    <img src="../assets/dessert.png" alt="ปุ่มของหวาน" width="80" height="80">
                    <label>ของหวาน</label>
                </button>

                <button class="picCategory" type="button" aria-label="ปุ่มเครื่องดื่ม" v-if="this.menu.drink[0]" @click="scroll(`menuDrink`)">
                    <img src="../assets/drink.png" alt="ปุ่มเครื่องดื่ม" width="80" height="80">
                    <label>เครื่องดื่ม</label>
                </button>
            </div>
        </div>
    </div>

    <div class="menu">
        <p class="head">
            เมนู
        </p>

        <div class="longBar"></div>

        <img class="picRecMenu" name="" :src="this.recommendPicture" alt="ภาพเมนูแนะนำ">

        <div class="allMenu">
            <div id="menuPromotion" v-if="this.menu.promotion[0]">
                <p class="head">โปรโมชัน</p>
                <div class="shortBar"></div>
                <div class="text" v-for="item in menu.promotion" :key="item">
                    <div class="menuNamePrice">
                        <p class="menuName">{{ item.name }}</p>
                        <div class="price"><p>{{ item.price }} </p><p aria-label="บาท">฿</p></div>
                    </div>
                    <p class="ingre">{{ item.description }}</p>
                </div>
                <div class="greyBar"></div>
            </div>

            <div id="menuRecommend" v-if="this.menu.recommendation[0]">
                <p class="head">เมนูแนะนำ</p>
                <div class="shortBar" style=""></div>
                <div class="text" v-for="item in menu.recommendation" :key="item">
                    <div class="menuNamePrice">
                        <p class="menuName">{{ item.name }}</p>
                        <div class="price"><p>{{ item.price }} </p><p aria-label="บาท">฿</p></div>
                    </div>
                    <p class="ingre">{{ item.description }}</p>
                </div>
                <div class="greyBar"></div>
            </div>

            <div id="menuSuki" v-if="this.menu.ready[0]">
                <p class="head">อาหารพร้อมปรุง</p>
                <div class="shortBar"></div>
                <div class="text" v-for="item in menu.ready" :key="item">
                    <div class="menuNamePrice">
                        <p class="menuName">{{ item.name }}</p>
                        <div class="price"><p>{{ item.price }} </p><p aria-label="บาท">฿</p></div>
                    </div>
                    <p class="ingre">{{ item.description }}</p>
                </div>
                <div class="greyBar"></div>
            </div>

            <div id="menuALaCarte" v-if="this.menu.alacarte[0]">
                <p class="head">อาหารจานเดียว</p>
                <div class="shortBar"></div>
                <div class="text" v-for="item in menu.alacarte" :key="item">
                    <div class="menuNamePrice">
                        <p class="menuName">{{ item.name }}</p>
                        <div class="price"><p>{{ item.price }} </p><p aria-label="บาท">฿</p></div>
                    </div>
                    <p class="ingre">{{ item.description }}</p>
                </div>
                <div class="greyBar"></div>
            </div>

            <div id="menuSet" v-if="this.menu.set[0]">
                <p class="head">อาหารเซ็ต</p>
                <div class="shortBar"></div>
                <div class="text" v-for="item in menu.set" :key="item">
                    <div class="menuNamePrice">
                        <p class="menuName">{{ item.name }}</p>
                        <div class="price"><p>{{ item.price }} </p><p aria-label="บาท">฿</p></div>
                    </div>
                    <p class="ingre">{{ item.description }}</p>
                </div>
                <div class="greyBar"></div>
            </div>

            <div id="menuSnack" v-if="this.menu.snack[0]">
                <p class="head">ของทานเล่น</p>
                <div class="shortBar"></div>
                <div class="text" v-for="item in menu.snack" :key="item">
                    <div class="menuNamePrice">
                        <p class="menuName">{{ item.name }}</p>
                        <div class="price"><p>{{ item.price }} </p><p aria-label="บาท">฿</p></div>
                    </div>
                    <p class="ingre">{{ item.description }}</p>
                </div>
                <div class="greyBar"></div>
            </div>

            <div id="menuDessert" v-if="this.menu.dessert[0]">
                <p class="head">ของหวาน</p>
                <div class="shortBar"></div>
                <div class="text" v-for="item in menu.dessert" :key="item">
                    <div class="menuNamePrice">
                        <p class="menuName">{{ item.name }}</p>
                        <div class="price"><p>{{ item.price }} </p><p aria-label="บาท">฿</p></div>
                    </div>
                    <p class="ingre">{{ item.description }}</p>
                </div>
                <div class="greyBar"></div>
            </div>

            <div id="menuDrink" v-if="this.menu.drink[0]">
                <p class="head">เครื่องดื่ม</p>
                <div class="shortBar"></div>
                <div class="text" v-for="item in menu.drink" :key="item">
                    <div class="menuNamePrice">
                        <p class="menuName">{{ item.name }}</p>
                        <div class="price"><p>{{ item.price }} </p><p aria-label="บาท">฿</p></div>
                    </div>
                    <p class="ingre">{{ item.description }}</p>
                </div>
                <div class="greyBar"></div>
            </div>

            <p class="subHead">* แต่ละเมนูอาจเปลี่ยนแปลงตามช่วงเวลาในแต่ละวัน</p>
        </div>
    </div>
        
    <div class="contact">
        <p class="head">
            <b>ติดต่อ</b>
        </p>
        <p class="context" v-if="this.contact.facebook">
            Facebook: <a :href="this.contact.facebook" class="url"> {{ this.contact.facebook }} </a>
        </p>
        <p class="context" v-if="this.contact.line">
            Line: {{ this.contact.line }} 
        </p>
        <p class="context" v-if="this.contact.tel">
            เบอร์โทรศัพท์: <a :href="`tel:${this.contact.tel}`" class="url"> {{ this.contact.tel }} </a>
        </p>
        <p class="context" v-if="this.contact.website">
            เว็บไซต์: <a :href="this.contact.website" class="url"> {{ this.contact.website }} </a> 
        </p>
    </div>

    <button class="goUpButton" type="button"  aria-label="ปุ่มกลับขึ้นด้านบน" @click="scroll(`menuCategory`)">
        <img class="goUp" src="../assets/goUp.svg" name="ปุ่มกลับขึ้นด้านบน" alt="ปุ่มกลับขึ้นด้านบน">
    </button>
  </div>
</template>

<script>
export default {
    name: "Store",
    data () {
        return {
            id: "",
            backgroundPicture: "",
            recommendPicture: "",
            storeName: "",
            category: "",
            workingHour: {
            },
            about: "",
            contact: {
                facebook: "",
                line: "",
                tel: "",
                website: ""
            },
            menu: {
                promotion: [],
                recommendation: [],
                ready: [],
                alacarte: [],
                set: [],
                snack: [],
                dessert: [],
                drink: []
            }
        }
    },
    methods: {
      scroll(id) {  
        console.log("go to ", id);
        document.getElementById(id).scrollIntoView({
            behavior: "smooth"
         });
        }
    },
    async created () {
        this.id = this.$route.params.id
        console.log('ID: ' + this.id)

        await this.$store.dispatch('getStore', this.id)
        this.backgroundPicture = this.$store.state.data.background
        this.recommendPicture = this.$store.state.data.recommendation
        this.storeName = this.$store.state.data.storeName
        this.category = this.$store.state.data.category
        this.about = this.$store.state.data.about
        this.workingHour = this.$store.state.data.workingHour
        this.contact = this.$store.state.data.contact
        if (this.$store.state.data.menus.promotion) {
            this.menu.promotion = this.$store.state.data.menus.promotion
        }
        if (this.$store.state.data.menus.recommendation) {
            this.menu.recommendation = this.$store.state.data.menus.recommendation
        }
        if (this.$store.state.data.menus.ready) {
            this.menu.ready = this.$store.state.data.menus.ready
        }
        if (this.$store.state.data.menus.alacarte) {
            this.menu.alacarte = this.$store.state.data.menus.alacarte
        }
        if (this.$store.state.data.menus.set) {
            this.menu.set = this.$store.state.data.menus.set
        }
        if (this.$store.state.data.menus.snack) {
            this.menu.snack = this.$store.state.data.menus.snack
        }
        if (this.$store.state.data.menus.dessert) {
            this.menu.dessert = this.$store.state.data.menus.dessert
        }
        if (this.$store.state.data.menus.drink) {
            this.menu.drink = this.$store.state.data.menus.drink
        }
    }
}
</script>

<style>
.Info {
    background: #ffffff;
}

.picStore {
    width: 100vw;
    max-height: 280px;
    object-fit: cover;
}

.information {
    text-align: left;
    padding: 4% 4% 40px 0px;
    margin-bottom: 24px;
    background: #fdfbfb;
}

.information div:not(:last-child) {
    margin-bottom: 16px;
}

.information div:first-child {
    font-size: 30px;
    margin-left: 4%;
}

.allMenu {
    margin-top: 16px;
}

.head {
    text-align: left;
    margin-left: 4%;
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: bold;
}

.subHead {
    text-align: left;
    margin: 0% 4% 4% 4%;
    font-size: 16px;
    color: #c51515;
}

.context {
    font-size: 16px;
    margin-left: 4%;
}

.category {
    display: flex;
}

.textCatagory {
    margin-right: 10px;
}

.subMenu {
    display: flex;
    justify-content: center;
    padding: 0% 4% 0% 4%;
}

.day {
    padding-right: 30px;
}

.groupMenu {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

label {
    margin-top: 16px;
}

.picCategory {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    margin-bottom: 20px;
    cursor: pointer;
}

.picCategory:hover {
    opacity: 0.7;
    transition-delay:1s;
}

.longBar {
    margin-left: 2.5%;
    width: 95vw;
    height: 5px;
    border-radius: 2px;
    margin-bottom: 10px;
    background: #FFB800;
}

.shortBar {
    margin-top: -2px;
    margin-left: 4%;
    width: 60px;
    height: 3px;
    border-radius: 2px;
    margin-bottom: 10px;
    background: #FFB800;
}

button {
    border: none;
    background: transparent;
}

.picRecMenu {
    width: 95vw;
    border-radius: 5px;
    object-fit: fill;
    margin-top: 2px;
    align-self: center;
}

.menuName {
    text-align: left;
    font-size: 18px;
    margin-right: 18px;
}

.ingre {
    width: 55%;
    font-size: 16px;
    text-align: left;
    font-weight: lighter;
    margin-top: -10px;
    margin-bottom: 16px;
    padding-left: 12%;
}

.price {
    display: flex;
    align-items: flex-end;
    font-size: 17px;
    font-weight: bold;
    text-align: right;
    color: #e15421;
}

.price p {
    margin-right: 5px;
}

.menuNamePrice {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0% 8% 0% 8%;
    margin-top: -2px;
    margin-bottom: 22px;
}

.menuNamePrice .menuName {
    padding: 0%;
}

.greyBar {
    margin-left: 2.5vw;
    width: 95vw;
    height: 1px;
    border-radius: 2px;
    margin-top: 8px;
    margin-bottom: 10px;
    background: #E0E0E0;
}

.contact {
    text-align: left;
    padding: 30px 4% 80px 0px;
    background: #fdfbfb;
    word-break: break-all;
}

.url {
    word-break: break-all;
}

.goUpButton {
    border: none;
    background: transparent;
    position: fixed;
    cursor: pointer;
    right: 5%;
    bottom: 3%;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}
</style>