<template>
  <div class="Upload">
    <form v-if="!this.check">
      <div id="head">
        Register
      </div>

      <div id="uploadPicture">

        <div class="image">
          <img class="imgPreview" src="../assets/picture.svg" v-if="!info.background"/>
          <img class="imgPreview" id="storePreview" :src="info.background" @click="openModal('storePreview', 'รูปหน้าร้านค้า')" v-if="info.background"/>
          <img class="removeIcon" src="../assets/trash.svg" @click="removePreview('store')"/>
          <div class="frame">
            <p class="required">อัปโหลดรูปหน้าร้านค้า</p>
            <div class="icon">
              <label class="labelPreview" for="storeImg">
                <img src="../assets/upload.svg"/>
              </label>
              <input type="file" accept="image/*" id="storeImg" @change="storePreviewImage( $event )">
            </div>
          </div>
        </div>
        
        <div class="image">
          <img class="imgPreview" src="../assets/picture.svg" v-if="!info.recommendation"/>
          <img class="imgPreview" id="promoPreview" :src="info.recommendation" @click="openModal('promoPreview', 'รูปโปรโมชัน')" v-if="info.recommendation" />
          <img class="removeIcon" src="../assets/trash.svg" @click="removePreview('promo')">
          <div class="frame">
            <p class="required">อัปโหลดตัวอย่างอาหาร<br>หรือโปรโมชัน</p>
            <div class="icon">
              <label class="labelPreview" for="promoImg">
                <img src="../assets/upload.svg"/>
              </label>
              <input type="file" accept="image/*" id="promoImg" @change="promoPreviewImage( $event )" required>
            </div>
          </div>
        </div>

      </div>

      <div class="imageModal" id="modal">
        <span class="close" @click="closeModal()">&times;</span>
        <img id="imgModal">
        <div id="caption"></div>
      </div>

      <div class="line" id="firstLine">
        <label class="required headBold">ข้อมูลทั่วไป</label>
        <div class="inputField">
          <label class="required">ชื่อร้านค้า</label>
          <input type="text" v-model="info.name" placeholder="ชื่อร้าน `สุกี้หม้อไฟ ชั้น 7 เซ็นทรัลเวิร์ด`">
        </div>

        <div class="inputField">
          <label class="required">ประเภทร้านค้า</label>
          <input type="text" v-model="info.category" placeholder="ประเภทร้านค้า 'สุกี้, หม้อไฟ'">
        </div>

        <div class="inputField">
          <label class="required">GPS: Latitude (ทศนิยม 6 ตำแหน่ง)</label>
          <input type="text" v-model="info.gps.latitude" placeholder="1.023456">
        </div>
        
        <div class="inputField">
          <label class="required">GPS: Longitude (ทศนิยม 6 ตำแหน่ง)</label>
          <input type="text" v-model="info.gps.longitude" placeholder="3.567890">
        </div>
      </div>

      <div class="line" id="secondLine">
        <label class="required">ข้อมูลเพิ่มเติม</label>
        <textarea type="text"  v-model="info.description" placeholder="ข้อมูลเพิ่มเติมเกี่ยวกับร้านที่ต้องการบอกกับลูกค้า"></textarea>
      </div>

      <div class="line" id="thirdLine">
        <label id="contact" class="headBold">ติดต่อเพิ่มเติม</label>

        <div class="inputField">
          <label for="tel">เบอร์โทรศัพท์</label>
          <input type="tel" id="tel" v-model="info.contact.tel" maxlength="10" placeholder="xxx-xxx-xxxx">
        </div>

        <div class="inputField">
          <label for="website">เว็บไซต์</label>
          <input type="url" id="website" v-model="info.contact.website" placeholder="https://.example.com">
        </div>

        <div class="inputField">
          <label for="facebook">Facebook</label>
          <input type="text" id="facebook" v-model="info.contact.facebook" placeholder="">
        </div>

        <div class="inputField">
          <label for="line">LINE</label>
          <input type="text" id="line" v-model="info.contact.line" placeholder="">
        </div>
      </div>
      
      <div class="hour">
        <label class="required headBold">เวลาทำการ</label>
        <div id="every">
          <div>
            <label for="everyday">เปิดทุกวัน</label>
            <input type="checkbox" id="everyday"  v-model="workingHour.all" @change="clearHours()">
          </div>
          <div id="everydayTime">
            <label for="everydayHours">เวลา</label>
            <input type="time" disabled v-if="workingHour.all == false"> 
            <input type="time" id="everydayHours1" v-model="workingHour.all1" v-if="workingHour.all == true"> 
            - 
            <input type="time" disabled v-if="workingHour.all == false">
            <input type="time" id="everydayHours2" v-model="workingHour.all2" v-if="workingHour.all == true">
          </div>
        </div>
        <div id="overflowTable">
          <table>
            <tr id="headTable">
              <th></th>
              <th>เวลาทำการ</th>
              <th>ปิดทำการ</th>
            </tr>
            <tr>
              <td class="day"><label>วันจันทร์</label></td>
              <td v-if="workingHour.mon == true"><input type="time" disabled> - <input type="time" disabled></td>
              <td v-if="workingHour.mon == false"><input type="time" id="mon1" v-model="workingHour.mon1"> - <input type="time" id="mon2" v-model="workingHour.mon2"></td>
              <td><input type="checkbox" id="mon" v-model="workingHour.mon" :disabled="workingHour.all == true"></td>
            </tr>
            <tr>
              <td class="day"><label>วันอังคาร</label></td>
              <td v-if="workingHour.tue == true"><input type="time" disabled> - <input type="time" disabled></td>
              <td v-if="workingHour.tue == false"><input type="time" id="tue1" v-model="workingHour.tue1" > - <input type="time" id="tue2" v-model="workingHour.tue2" ></td>
              <td><input type="checkbox" id="tue" v-model="workingHour.tue" :disabled="workingHour.all == true"></td>
            </tr>
            <tr>
              <td class="day"><label>วันพุธ</label></td>
              <td v-if="workingHour.wed == true"><input type="time" disabled> - <input type="time" disabled></td>
              <td v-if="workingHour.wed == false"><input type="time" id="wed1" v-model="workingHour.wed1" > - <input type="time" id="wed2" v-model="workingHour.wed2" ></td>
              <td><input type="checkbox" id="wed" v-model="workingHour.wed" :disabled="workingHour.all == true"></td>
            </tr>
            <tr>
              <td class="day"><label>วันพฤหัสบดี</label></td>
              <td v-if="workingHour.thu == true"><input type="time" disabled> - <input type="time" disabled></td>
              <td v-if="workingHour.thu == false"><input type="time" id="thu1" v-model="workingHour.thu1" > - <input type="time" id="thu2" v-model="workingHour.thu2" ></td>
              <td><input type="checkbox" id="thu" v-model="workingHour.thu" :disabled="workingHour.all == true"></td>
            </tr>
            <tr>
              <td class="day"><label>วันศุกร์</label></td>
              <td v-if="workingHour.fri == true"><input type="time" disabled> - <input type="time" disabled></td>
              <td v-if="workingHour.fri == false"><input type="time" id="fri1" v-model="workingHour.fri1" > - <input type="time" id="fri2" v-model="workingHour.fri2" ></td>
              <td><input type="checkbox" id="fri" v-model="workingHour.fri" :disabled="workingHour.all == true"></td>
            </tr>
            <tr>
              <td class="day"><label>วันเสาร์</label></td>
              <td v-if="workingHour.sat == true"><input type="time" disabled> - <input type="time" disabled></td>
              <td v-if="workingHour.sat == false"><input type="time" id="sat1" v-model="workingHour.sat1" > - <input type="time" id="sat2" v-model="workingHour.sat2" ></td>
              <td><input type="checkbox" id="sat" v-model="workingHour.sat" :disabled="workingHour.all == true"></td>
            </tr>
            <tr>
              <td class="day"><label>วันอาทิตย์</label></td>
              <td v-if="workingHour.sun == true"><input type="time" disabled> - <input type="time" disabled></td>
              <td v-if="workingHour.sun == false"><input type="time" id="sun1" v-model="workingHour.sun1" > - <input type="time" id="sun2" v-model="workingHour.sun2" ></td>
              <td><input type="checkbox" id="sun" v-model="workingHour.sun" :disabled="workingHour.all == true"></td>
            </tr>
          </table>
        </div>
      </div>

      <div class="menus">
        <label class="required headBold">เมนู</label>

        <div class="menu">
          โปรโมชัน
          <div class="addMenu" v-for="(input, index) in info.menus.promotion" :key="index">
            <div class="col">
              ชื่อ
              <input type="text" v-model="input.name" placeholder="ชื่อ">
            </div>
            <div class="col">
              ส่วนประกอบ
              <input type="text" v-model="input.description" placeholder="ส่วนประกอบ ก, ข, ค">
            </div>
            <div class="col">
              ราคา
              <input type="number" v-model="input.price" placeholder="ราคา">
            </div>
            <img class="deleteField" type="button"  src="../assets/trash.svg" @click="remove(index, info.menus.promotion)">
          </div>
          <button class="addField" type="button" @click="add(info.menus.promotion)"> + </button>
        </div>
        
        <div class="menu">
          เมนูแนะนำ
          <div class="addMenu" v-for="(input, index) in info.menus.recommendation" :key="index">
            <div class="col">
              ชื่อ
              <input type="text" v-model="input.name" placeholder="ชื่อ">
            </div>
            <div class="col">
              ส่วนประกอบ
              <input type="text" v-model="input.description" placeholder="ส่วนประกอบ ก, ข, ค">
            </div>
            <div class="col">
              ราคา
              <input type="number" v-model="input.price" placeholder="ราคา">
            </div>
            <img class="deleteField" type="button"  src="../assets/trash.svg" @click="remove(index, info.menus.recommendation)">
          </div>
          <button class="addField" type="button" @click="add(info.menus.recommendation)"> + </button>
        </div>

        <div class="menu">
          ของสด
          <div class="addMenu" v-for="(input, index) in info.menus.ready" :key="index">
            <div class="col">
              ชื่อ
              <input type="text" v-model="input.name" placeholder="ชื่อ">
            </div>
            <div class="col">
              ส่วนประกอบ
              <input type="text" v-model="input.description" placeholder="ส่วนประกอบ ก, ข, ค">
            </div>
            <div class="col">
              ราคา
              <input type="number" v-model="input.price" placeholder="ราคา">
            </div>
            <img class="deleteField" type="button"  src="../assets/trash.svg" @click="remove(index, info.menus.ready)">
          </div>
          <button class="addField" type="button" @click="add(info.menus.ready)"> + </button>
        </div>

        <div class="menu">
          อาหารจานเดียว
          <div class="addMenu" v-for="(input, index) in info.menus.alacarte" :key="index">
            <div class="col">
              ชื่อ
              <input type="text" v-model="input.name" placeholder="ชื่อ">
            </div>
            <div class="col">
              ส่วนประกอบ
              <input type="text" v-model="input.description" placeholder="ส่วนประกอบ ก, ข, ค">
            </div>
            <div class="col">
              ราคา
              <input type="number" v-model="input.price" placeholder="ราคา">
            </div>
            <img class="deleteField" type="button"  src="../assets/trash.svg" @click="remove(index, info.menus.alacarte)">
          </div>
          <button class="addField" type="button" @click="add(info.menus.alacarte)"> + </button>
        </div>

        <div class="menu">
          เซ็ตอาหาร
          <div class="addMenu" v-for="(input, index) in info.menus.set" :key="index">
            <div class="col">
              ชื่อ
              <input type="text" v-model="input.name" placeholder="ชื่อ">
            </div>
            <div class="col">
              ส่วนประกอบ
              <input type="text" v-model="input.description" placeholder="ส่วนประกอบ ก, ข, ค">
            </div>
            <div class="col">
              ราคา
              <input type="number" v-model="input.price" placeholder="ราคา">
            </div>
            <img class="deleteField" type="button"  src="../assets/trash.svg" @click="remove(index, info.menus.set)">
          </div>
          <button class="addField" type="button" @click="add(info.menus.set)"> + </button>
        </div>

        <div class="menu">
          ของทานเล่น
          <div class="addMenu" v-for="(input, index) in info.menus.snack" :key="index">
            <div class="col">
              ชื่อ
              <input type="text" v-model="input.name" placeholder="ชื่อ">
            </div>
            <div class="col">
              ส่วนประกอบ
              <input type="text" v-model="input.description" placeholder="ส่วนประกอบ ก, ข, ค">
            </div>
            <div class="col">
              ราคา
              <input type="number" v-model="input.price" placeholder="ราคา">
            </div>
            <img class="deleteField" type="button"  src="../assets/trash.svg" @click="remove(index, info.menus.snack)">
          </div>
          <button class="addField" type="button" @click="add(info.menus.snack)"> + </button>
        </div>

        <div class="menu">
          ของหวาน
          <div class="addMenu" v-for="(input, index) in info.menus.dessert" :key="index">
            <div class="col">
              ชื่อ
              <input type="text" v-model="input.name" placeholder="ชื่อ">
            </div>
            <div class="col">
              ส่วนประกอบ
              <input type="text" v-model="input.description" placeholder="ส่วนประกอบ ก, ข, ค">
            </div>
            <div class="col">
              ราคา
              <input type="number" v-model="input.price" placeholder="ราคา">
            </div>
            <img class="deleteField" type="button"  src="../assets/trash.svg" @click="remove(index, info.menus.dessert)">
          </div>
          <button class="addField" type="button" @click="add(info.menus.dessert)"> + </button>
        </div>

        <div class="menu">
          เครื่องดื่ม
          <div class="addMenu" v-for="(input, index) in info.menus.drink" :key="index">
            <div class="col">
              ชื่อ
              <input type="text" v-model="input.name" placeholder="ชื่อ">
            </div>
            <div class="col">
              ส่วนประกอบ
              <input type="text" v-model="input.description" placeholder="ส่วนประกอบ ก, ข, ค">
            </div>
            <div class="col">
              ราคา
              <input type="number" v-model="input.price" placeholder="ราคา">
            </div>
            <img class="deleteField" type="button"  src="../assets/trash.svg" @click="remove(index, info.menus.drink)">
          </div>
          <button class="addField" type="button" @click="add(info.menus.drink)"> + </button>
        </div>

      </div>

      <button type="button" class="submit" @click="checkForm()">ลงทะเบียนร้านค้า</button>

    </form>

    <Transition>
      <div id="confirmRegister" v-if="this.check">
        <div class="head">
          กรุณาตรวจสอบความถูกต้องก่อนทำการยืนยัน
        </div>

        <div id="confirmPicture">

          <div class="image">
            <img class="imgPreview" src="../assets/picture.svg" v-if="!info.background"/>
            <img class="imgPreview" id="storeConfirm" :src="info.background" @click="openModal('storeConfirm', 'รูปหน้าร้านค้า')" v-if="info.background"/>
          </div>
          
          <div class="image">
            <img class="imgPreview" src="../assets/picture.svg" v-if="!info.recommendation"/>
            <img class="imgPreview" id="promoConfirm" :src="info.recommendation" @click="openModal('promoConfirm', 'รูปโปรโมชัน')" v-if="info.recommendation" />
          </div>

        </div>

        <div class="imageModal" id="modal">
          <span class="close" @click="closeModal()">&times;</span>
          <img id="imgModal">
          <div id="caption"></div>
        </div>

        <div id="confirmInfo">
          <div class="subConfirmInfo">
            <div class="contentConfirmInfo"><strong>ชื่อ : </strong> {{ info.name }} </div>
            <div class="contentConfirmInfo"><strong>ประเภทร้านค้า : </strong> {{ info.category }} </div>
            <div class="contentConfirmInfo"><strong>GPS : </strong> {{ info.gps.latitude }}, {{ info.gps.longitude }} </div>
          </div>
          <div class="contentConfirmInfo"><strong>ข้อมูลเพิ่มเติม : <br></strong> {{ info.description }} </div>
          <div class="subConfirmInfo">
            <div class="contentConfirmInfo" v-if="info.contact.tel"><strong>เบอร์โทรศัพท์ : </strong> {{ info.contact.tel }} </div>
            <div class="contentConfirmInfo" v-if="!info.contact.tel"><strong>เบอร์โทรศัพท์ : </strong> ไม่ระบุข้อมูล </div>
            <div class="contentConfirmInfo" v-if="info.contact.website"><strong>เว็บไซต์ : </strong> {{ info.contact.website }} </div>
            <div class="contentConfirmInfo" v-if="!info.contact.website"><strong>เว็บไซต์ : </strong> ไม่ระบุข้อมูล </div>
            <div class="contentConfirmInfo" v-if="info.contact.facebook"><strong>Facebook : </strong> {{ info.contact.facebook }} </div>
            <div class="contentConfirmInfo" v-if="!info.contact.facebook"><strong>Facebook : </strong> ไม่ระบุข้อมูล </div>
            <div class="contentConfirmInfo" v-if="info.contact.line"><strong>LINE : </strong> {{ info.contact.line }} </div>
            <div class="contentConfirmInfo" v-if="!info.contact.line"><strong>LINE : </strong> ไม่ระบุข้อมูล </div>
          </div>
        </div>

        <div id="confirmWorkingHours">
          <p><strong>เวลาเปิดให้บริการ :</strong></p>
          <div class="context" v-if="info.hours.everyday">
            <p>เปิดทุกวัน {{ info.hours.everyday }} </p>
          </div>

          <table class="context" v-if="info.hours.monday">
              <tbody>
                  <tr><td class="day">วันจันทร์ </td> <td>{{ info.hours.monday }} </td></tr>
                  <tr><td class="day">วันอังคาร </td> <td> {{ info.hours.tuesday }} </td></tr>
                  <tr><td class="day">วันพุธ </td> <td> {{ info.hours.wednesday }} </td></tr>
                  <tr><td class="day">วันพฤหัสบดี </td> <td> {{ info.hours.thursday }} </td></tr>
                  <tr><td class="day">วันศุกร์ </td> <td> {{ info.hours.friday }} </td></tr>
                  <tr><td class="day">วันเสาร์ </td> <td> {{ info.hours.saturday }} </td></tr>
                  <tr><td class="day">วันอาทิตย์ </td> <td> {{ info.hours.sunday }} </td></tr>
              </tbody>
          </table>
        </div>

        <div id="confirmMenu">
          <p><strong>เมนู :</strong></p>
          <div class="confirmEachMenu" v-if="info.menus.promotion[0]">
              <p><strong>โปรโมชัน</strong></p>
              <div v-for="item in this.info.menus.promotion" :key="item">
                  <div class="confirmMenuName">
                      <p>{{ item.name }}</p>
                      <p>{{ item.price }}</p>
                  </div>
                  <p class="confirmMenuDescription">{{ item.description }}</p>
              </div>
          </div>

          <div class="confirmEachMenu" v-if="info.menus.recommendation[0]">
              <p><strong>เมนูแนะนำ</strong></p>
              <div v-for="item in this.info.menus.recommendation" :key="item">
                  <div class="confirmMenuName">
                      <p>{{ item.name }}</p>
                      <p>{{ item.price }}</p>
                  </div>
                  <p class="confirmMenuDescription">{{ item.description }}</p>
              </div>
          </div>

          <div class="confirmEachMenu" v-if="info.menus.ready[0]">
              <p><strong>อาหารพร้อมปรุง</strong></p>
              <div v-for="item in this.info.menus.ready" :key="item">
                  <div class="confirmMenuName">
                      <p>{{ item.name }}</p>
                      <p>{{ item.price }}</p>
                  </div>
                  <p class="confirmMenuDescription">{{ item.description }}</p>
              </div>
          </div>

          <div class="confirmEachMenu" v-if="info.menus.alacarte[0]">
              <p><strong>อาหารจานเดียว</strong></p>
              <div v-for="item in this.info.menus.alacarte" :key="item">
                  <div class="confirmMenuName">
                      <p>{{ item.name }}</p>
                      <p>{{ item.price }}</p>
                  </div>
                  <p class="confirmMenuDescription">{{ item.description }}</p>
              </div>
          </div>

          <div class="confirmEachMenu" v-if="info.menus.set[0]">
              <p><strong>อาหารเซ็ต</strong></p>
              <div v-for="item in this.info.menus.set" :key="item">
                  <div class="confirmMenuName">
                      <p>{{ item.name }}</p>
                      <p>{{ item.price }}</p>
                  </div>
                  <p class="confirmMenuDescription">{{ item.description }}</p>
              </div>
          </div>

          <div class="confirmEachMenu" v-if="info.menus.snack[0]">
              <p><strong>ของทานเล่น</strong></p>
              <div v-for="item in this.info.menus.snack" :key="item">
                  <div class="confirmMenuName">
                      <p>{{ item.name }}</p>
                      <p>{{ item.price }}</p>
                  </div>
                  <p class="confirmMenuDescription">{{ item.description }}</p>
              </div>
          </div>

          <div class="confirmEachMenu" v-if="info.menus.dessert[0]">
              <p><strong>ของหวาน</strong></p>
              <div v-for="item in this.info.menus.dessert" :key="item">
                  <div class="confirmMenuName">
                      <p>{{ item.name }}</p>
                      <p>{{ item.price }}</p>
                  </div>
                  <p class="confirmMenuDescription">{{ item.description }}</p>
              </div>
          </div>

          <div class="confirmEachMenu" v-if="info.menus.drink[0]">
              <p><strong>เครื่องดื่ม</strong></p>
              <div v-for="item in this.info.menus.drink" :key="item">
                  <div class="confirmMenuName">
                      <p>{{ item.name }}</p>
                      <p>{{ item.price }}</p>
                  </div>
                  <p class="confirmMenuDescription">{{ item.description }}</p>
              </div>
          </div>
        </div>

        <div id="confirmButtom">
          <button type="button" id="editForm" @click="backToEditForm()">แก้ไข</button>
          <button type="submit" id="confirmForm" @click="sendForm()">ยืนยัน</button>
        </div>

        <div class="loaderBorder"  v-if="this.loadingScreen">
          <div style="margin-bottom: 250px;">ระบบกำลังดำเนินการ กรุณารอสักครู่</div>
          <div class="loader"></div>
        </div>

        <div id="uploadSuccess"  v-if="this.success">
          <div >ระบบกำลังดำเนินการเสร็จสิ้น</div>
          <button class="submit" @click="reload()">กลับสู่ฟอร์ม</button>
        </div>
      </div>
    </Transition>

  </div>
</template>

<script>
import { getDownloadURL, getStorage, ref, uploadBytes } from "firebase/storage";

export default {
  name: 'Upload',
  data () {
    return {
      info: {
        name: '',
        category: '',
        gps: {
          latitude: '',
          longitude: ''
        },
        description: '',
        contact: {
          facebook: '',
          line: '',
          tel: '',
          website: ''
        },
        background: '',
        recommendation: '',
        hours: {
          everyday: '',
          monday: '',
          tuesday: '',
          wednesday: '',
          thursday: '',
          friday: '',
          saturday: '',
          sunday: ''
        },
        menus: {
          promotion: [],
          recommendation: [],
          ready: [],
          alacarte: [],
          set: [],
          snack: [],
          dessert: [],
          drink: [],
        }
      },
      workingHour: {
        all: false,
        all1: '',
        all2: '',
        mon: false,
        mon1: '',
        mon2: '',
        tue: false,
        tue1: '',
        tue2: '',
        wed: false,
        wed1: '',
        wed2: '',
        thu: false,
        thu1: '',
        thu2: '',
        fri: false,
        fri1: '',
        fri2: '',
        sat: false,
        sat1: '',
        sat2: '',
        sun: false,
        sun1: '',
        sun2: ''
      },
      check: false,
      loadingScreen: false,
      success: false
    }
  },
  methods: {
    clearHours() {
      const arr = ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun']
      if (this.workingHour.all == true) {
        for (let i in arr) {
          if (this.workingHour[arr[i]] == false) {
            this.workingHour[arr[i]] = true;
          }
        }
      }
      else if (this.workingHour.all == false) {
        for (let i in arr) {
          this.workingHour[arr[i]] = false;
        }
      }
      console.log(this.workingHour)
    },
    storePreviewImage( event ) {
      let upload = event.target.files[0];
      this.info.background = URL.createObjectURL(upload);
      event.target.value = '';
    },
    promoPreviewImage( event ) {
      let upload = event.target.files[0];
      this.info.recommendation = URL.createObjectURL(upload);
      event.target.value = '';
    },
    removePreview(cond) {
      if (cond == 'store') {
        this.info.background = '';
      }
      else {
        this.info.recommendation = '';
      }
    },
    add(field) {
      field.push({ name: '', description: '', price: ''});
    },
    remove(index, field) {
      console.log(index);
      field.splice(index, 1);
    },
    openModal(img, caption) {
      console.log('openModal')
      let modal = document.getElementById('modal')
      let image = document.getElementById(img);
      let modalImg = document.getElementById('imgModal');
      let captionText = document.getElementById('caption');

      if (image.src) {
        modal.style.cssText = `
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        `;
        modalImg.src = image.src;
        captionText.innerHTML = caption;
      }
    },
    closeModal() {
      let modal = document.getElementById('modal')
      modal.style.display = 'none'
    },
    checkForm() {
      if (this.workingHour.all == true) {
        this.info.hours.everyday = this.workingHour.all1 + ' - ' + this.workingHour.all2
        console.log(this.info.hours.everyday)
      }
      else if (this.workingHour.all == false){
        const arr = ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun']
        const arr2 = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']
        for (let i in arr) {
          if (this.workingHour[arr[i]] == true) {
            this.info.hours[arr2[i]] = 'ปิด'
          }
          else {
            this.info.hours[arr2[i]] = this.workingHour[arr[i] + 1] + ' - ' + this.workingHour[arr[i] + 2]
          }
        }
      }
      this.check = true
    },
    backToEditForm() {
      this.info.hours = {
        everyday: '',
        monday: '',
        tuesday: '',
        wednesday: '',
        thursday: '',
        friday: '',
        saturday: '',
        sunday: ''
      }
      this.check = false
    },
    async uploadPicture() {
      // Create a root reference
      const storage = getStorage(this.$firebaseApp);

      let storePath = 'image/' + (this.info.name).replace(/ /g, '') + '/store.jpg' 
      let promotePath = 'image/' + (this.info.name).replace(/ /g, '') + '/promote.jpg'

      const storageRef_store = ref(storage, storePath);
      const storageRef_promote = ref(storage, promotePath);

      let storeBlob = await fetch(this.info.background).then(r => r.blob());
      let promoteBlob = await fetch(this.info.recommendation).then(r => r.blob());
      
      await uploadBytes(storageRef_store, storeBlob).then((snapshot) => {
        console.log(snapshot);
      });

      await uploadBytes(storageRef_promote, promoteBlob).then((snapshot) => {
        console.log(snapshot);
      });

      await getDownloadURL(storageRef_store)
        .then((url) => {
          this.info.background = url
        })
        .catch((error) => {
          console.log(error)
        });
      
      await getDownloadURL(storageRef_promote)
        .then((url) => {
          this.info.recommendation = url
        })
        .catch((error) => {
          console.log(error)
        });
    },
    async sendForm() {
      this.loadingScreen = true
      
      await this.uploadPicture()

      this.check = false
      let payload = this.info
      JSON.stringify(payload)

      await this.$store.dispatch('addStore', {payload})

      setTimeout(() => {
        this.loadingScreen = false
        this.success = true
      }, 1000)
    },
    reload() {
      this.check = false
      this.success = false
      this.$router.go(this.$router.currentRoute)
    }
  }
}
</script>

<style>
form {
  margin: 3% 16% 3% 16%;
  padding: 5%;
  border-radius: 10px;
  background: #ffffff;
}

#head {
  display: flex;
  margin: 5% 0% 5% 5%;
  font-size: 32px;
  font-weight: bold;
}

.headBold {
  font-weight: bold;
}

.required:after {
  content:" *";
  color: red;
}

.image {
  display: flex;
  margin: 0% 5% 5% 7%;
}

#storeImg,
#promoImg {
  display: none;
}

img.imgPreview {
  width: 20vw;
  height: 20vw;
  max-width: 150px;
  max-height: 150px;
  min-width: 80px;
  min-height: 80px;
  margin-right: 15px;
  border: 10px solid transparent;
  box-shadow: 0 1px 2px 0 rgba(126, 126, 126, 0.2), 0 2px 5px 0 rgba(124, 124, 124, 0.19);
  border-radius: 8px;
  object-fit: cover;
}

img.imgPreview:hover {
  opacity: 0.7;
  cursor: pointer;
}

div.frame {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

div.frame p {
  font-size: 18px;
  font-weight: bold;
}

div.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
}

label.labelPreview {
  cursor: pointer;
}

.labelPreview img {
  width: 45px;
  margin-bottom: 30px;
}

.removeIcon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  align-self: end;
  margin-right: 16%;
}

.imageModal {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #1d1d1d;
  z-index: 1;
}

span.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #efefef;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

span.close:hover,
span.close:focus {
  color: #c1c1c1;
  text-decoration: none;
  cursor: pointer;
}

img#imgModal {
  display: block;
  max-height: 80vh;
  max-width: 80vw;
}

#caption{
  display: block;
  margin: 16px auto 0% auto;
  max-width: 80vw;
  text-align: center;
  color: #e7e7e7;
}

img#imgModal,
#caption {
  animation-name: zoom;
  animation-duration: 0.8s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0.4);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0.4);
  }
  to {
    transform: scale(1);
  }
}

.line {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

#firstLine {
  justify-content: space-between;
}

#firstLine label {
  width: 100%;
  text-align: left;
}

#secondLine {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

#secondLine textarea {
  width: 100%;
  height: 75px;
  padding: 8px;
  font-size: 16px;
  margin-bottom: 12px;
}

#thirdLine {
  justify-content: space-between;
}

#thirdLine #contact {
  width: 100%;
  text-align: left;
}

.inputField,
.col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 30px;
}

.inputField label,
#secondLine label {
  margin-bottom: 6px;
}

input[type=text],
input[type=tel],
input[type=url] {
  width: 245px;
  height: 18px;
  padding: 8px;
  font-size: 16px;
  margin-bottom: 12px;
}

.hour {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  margin-bottom: 12px;
}

.hour label {
  width: 100%;
  text-align: left;
  margin-bottom: 16px;
}

#every {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#every div {
  margin-right: 40px;
  margin-bottom: 12px;
}

#every label {
  margin-right: 30px;
}

tr#headTable {
  line-height: 45px;
}

td.day {
  text-align: left;
}

input[type=time] {
  width: 90px;
  height: 16px;
  padding: 4px;
  margin-bottom: 8px;
  cursor: pointer;
}

input[type='checkbox'] {
  width: 16px;
  height: 16px;
  margin-top: 4px;
  cursor: pointer;
}

.menus {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 28px;
}

.menus label {
  margin-bottom: 16px;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 22px;
}

input[type='number'] {
  width: 60px;
  height: 18px;
  padding: 8px;
  margin-bottom: 12px;
  margin-right: 30px;
  font-weight: 500;
}

.addMenu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 12px;
}

button.addField {
  color: #ffffff;
  background: #000238;
  width: 200px;
  height: 36px;
  border-radius: 6px;
  align-self: center;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.deleteField {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

button.submit {
  width: 230px;
  height: 56px;
  margin-top: 50px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;
  background: #119D38;
}

#confirmRegister {
  position: none;
  padding: 15%;
  min-height: 100%;
  background: #ffffff;
  top: 0%;
  z-index: 10;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

#confirmPicture {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

#confirmInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.subConfirmInfo{
  display: flex;
  flex-wrap: wrap;
}

.contentConfirmInfo {
  text-align: left;
  word-break: break-all;
  margin-right: 30px;
  margin-bottom: 8px;
}

#confirmWorkingHours {
  margin-top: 16px;
  text-align: left;
}

#confirmMenu {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 16px;
  word-break: break-all;
}

.confirmEachMenu {
  margin-top: 12px;
  padding: 0% 30px 0% 30px;
}

.confirmMenuName{
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

.confirmMenuDescription {
  padding-left: 16px;
  padding-right: 30%;
  word-break: break-all;
}

#confirmButtom {
  display: flex;
  justify-content: space-evenly;
}

#editForm {
  width: 200px;
  height: 56px;
  margin-top: 50px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: #464646;
  background: #bcbcbc;
}

#confirmForm {
  width: 200px;
  height: 56px;
  margin-top: 50px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;
  background: #119D38;
}

.loaderBorder {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #efefef;
}

.loader {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 16px solid #119D38;
  border-radius: 50%;
  border-top-color: transparent;
  border-bottom-color: transparent;
  overflow: auto;
  z-index: 3;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#uploadSuccess {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  font-size: 16px;
  z-index: 2;
  background: #efefef;
}

#uploadSuccess button {
  height: 40px;
}

@media only screen and (max-width: 766px) {
  .image {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .removeIcon {
    margin: 8px 0% 32px 0%;
  }

  input[type=text],
  input[type=tel],
  input[type=url] {
    width: 100%;
  }

  #secondLine textarea {
    padding: 0px;
  }

  #everydayTime {
    display: flex;
    flex-direction: column;
  }

  #overflowTable {
    overflow-x:auto;
  }

  button.addField {
    width: 60%;
    margin-top: 16px;
  }
  
  button.submit {
    width: 100%;
  }

  #confirmForm,
  #editForm {
    width: 40%;
  }
}

</style>